body {
  background-color: white;
}

header {
  width: 100%;
  height: 120px;
  background: green;

  ul {
    list-style: none;
    display: inline-flex;

    li {
      // display: inline-flex;
      padding: 0.5em;
      cursor: pointer;
    }
  }

}

#chart {
  width: 100%;
  height: 100%;
  display: block;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.test {
  background: white;
}

.selected {
  background: red;
}
